<h2>{{name}}</h2>

<form action="/recipe{{id}}" method='post'>

<label for="ingredients">Add ingredients:
    <input type="text" name ="ingredients">
</label>

<input type="submit" value="Add">

</form>